<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="reveal">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Utilities Stats App</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list id="inbox-list" *ngIf="configService.user() !== null">
          <ion-list-header>{{ configService.user()?.name }}</ion-list-header>
          <ion-note>{{ configService.user()?.email }}</ion-note>

          <ion-menu-toggle auto-hide="false">

            <ion-item routerDirection="root" [routerLink]="'/'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'information-outline'" [md]="'information-sharp'"></ion-icon>
              <ion-label>Index</ion-label>
            </ion-item>

            <ion-item routerDirection="root" [routerLink]="'/settings/meters/list'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'settings-outline'" [md]="'settings-sharp'"></ion-icon>
              <ion-label>Meters</ion-label>
            </ion-item>

            <ion-item routerDirection="root" [routerLink]="'/settings/meters/readings'" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'people-outline'" [md]="'people-sharp'"></ion-icon>
              <ion-label>Readings</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <!--        <ion-list id="labels-list">-->
        <!--          <ion-list-header>Labels</ion-list-header>-->

        <!--          <ion-item *ngFor="let label of labels" lines="none">-->
        <!--            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>-->
        <!--            <ion-label>{{ label }}</ion-label>-->
        <!--          </ion-item>-->
        <!--        </ion-list>-->

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
